<div class="jumbotron text-center">
    <h1>Welcome to our portal</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Login</h3>
            <p>Already a member? Sign into you account using the link below.</p>
            <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
        </div>
        <div class="col-md-6">
            <h3>Register</h3>
            <p>Not a member yet? Hit the link below to register.</p>
            <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
        </div>
    </div>
</div>
